body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;  
}

ul {
    list-style-type: none;
}

<!--Header-2-->
.section-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

<!--Header-3-->
.section-list-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}


.logo {
    font-family: "Raleway", sans-serif;
    color:#4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-accent {
    color:#2E2F42;
}

.footer-accent {
    color:#F4F4FD;
}

.nav-link {
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color:#404BBF;
    text-decoration: underline;
}

.address-link {
    color: #434455;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    }

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

.hero-section {
    background: #2E2F42;
    text-align: center;
}

.hero-title {
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    color: #fff;
    background-color: #4D5AE5;
    border: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
}

.section-features {
    background-color: #fff;
    text-align: left;
}

.section-features-title {
    color:#2E2F42;
}

.section-text {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.section-team {
    background-color: #F4F4FD;
}

.section-team-cards {
    background-color:#fff;
    text-align: center;
}

.section-team-title {
    color:#2E2F42;
    background-color: #fff;
    text-align: center;
}

.section-team-text {
    background-color: #fff;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-portfolio-title {
    color:#2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-portfolio-text {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

footer {
    color:#F4F4FD;
    background-color: #2E2F42;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}